@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Bienvenidos a la peluqueria Star</h4>
</div>

<div class="row">
    <div class="col-8 text-center">
        <p>Somos un equipo de profesionales de la belleza, de emprendedores, de soñadores,
            de amantes de la tecnología, de intrépidos, de curiosos. Aspiramos a mejorar la vida de las personas
            llevando la inspiración y la belleza a todo el mundo. Si tu también sueñas, únete a nosotros.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>
    <div class="col-4">
        <img src="img/imagenHome.jpg" alt="Nuestro personal" width="300">
    </div>
</div>
